@model IEnumerable<Hw1.ViewModels.ClientInfoVM>

@{
    ViewData["Title"] = "Index";
}

<h1> @ViewBag.header Account Summary</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNum)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>

                @Html.ActionLink("Details", "Details", new { clientId = item.ClientId, accountNum = item.AccountNum }) |

            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNum)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
           

        </tr>
}
    </tbody>
</table>
